/*? Item text */

.text {
	width: 100%;

	text-align: left;

	position: relative;
}

.text::after {
	content: '';
	display: block;
	width: 0%;
	height: 1px;

	background-color: var(--color-gray-1);

	position: absolute;
	left: 0;
	top: 52%;

	transition: width .6s ease .2s;
}

.text.active {}

.text.done {
	color: var(--color-gray-1);
}

.text.done::after {
	width: 100%;
}