/*? Vars */

:root {
	--color-primary: #181820;
	--color-secondary-1: #21212B;
	--color-secondary-2: #272732;
	--color-secondary-3: #33333f;
	--color-pink: #FB76A1;
	--color-gray-1: #BCBCBF;
	--color-white: #ffffff;
}