/*? Vars */

:root {
	--color-primary: #181820;
	--color-secondary-1: #21212B;
	--color-secondary-2: #272732;
	--color-secondary-3: #33333f;
	--color-pink: #FB76A1;
	--color-pink-op1: #FB76A120;
	--color-pink-op2: #FB76A140;
	--color-red-1: #CC3333;
	--color-red-2: #CC0605;
	--color-gray-1: #BCBCBF;
	--color-gray-2: #5E5E5E;
	--color-white: #ffffff;
}